@media (max-width:992px) {
  .banner {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assests/images/mobile.jpg) no-repeat center;
  }
  .container {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    gap: 30px;
  }
}
@media (min-width:993px) and (max-width:1200px) {
  .banner {
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(/assests/images/tab.jpg) no-repeat center;
  }
}